@import '../bootstrap/scss/bootstrap';
@import 'variables';
@import 'reset';
@import 'fonts';

.App {
  overflow-x: hidden;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.content {
  flex: 1;
}

.primary-bg {
  background: $primaryColor;
  color: #FFF !important;
}

.light-bg {
  background: $lightbg;
}

input, select, textarea {
  width: 100%;
  padding: 14px;
  background: #f4f5f7;
  border: none;
  border-radius: 4px;
  margin-bottom: 16px;
  font-size: 15px;
}

input[type=submit] {
  width: unset;
  background-color: $primaryColor;
  color: #FFF;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 15px;
  border-radius: 4px;
}

input[type=submit]:hover {
  color: #FFF;
}

.header {
  box-shadow: 0 0.125rem 0.65rem rgba(0, 0, 0, 0.035);
  z-index: 11;
}

@include media-breakpoint-down(xs) {
  .header, .skills {
    padding: 0 1rem;
  }
  .testimonials .card-deck {
    margin: 0 1rem !important;
  }
}

.nav {
  margin-top: -3px;
  li a {
    color: #4A516D;
    font-size: 15px;
    padding: 0.5rem;
    &.primary-bg {
      padding: 0.4rem 1rem;
      color: #FFF !important;
    }
  }
}

@include media-breakpoint-down(md) {
  .navbar-expand-lg {
    position: relative;
  }
  .navbar-toggler {
    border: none;
    padding: 0;
    &:focus {
      outline: none;
    }
  }
  .navbar-collapse {
    flex-basis: 100%;
    flex-grow: 1;
    align-items: center;
    position: absolute;
    background: #FFF;
    border: 1px solid #f0f0f0;
    outline: none;
    width: 170px;
    right: 0;
    margin-top: 1rem;
    border-radius: 0.25rem;
    z-index: 1;
  }
  .nav {
    li {
      margin: 0 !important;
      a {
        display: flex;
        padding: 1rem !important;
        border-bottom: 1px solid #f0f0f0;
        align-items: center;
        &:hover {
          background: #f8f8f8;
        }
        &.primary-bg {
          background: none;
          color: #4A516D !important;
          border-radius: 0 !important;
          &.active {
            color: $primaryColor !important;
          }
        }
        &:hover {
          &.primary-bg {
            background: #f8f8f8;
          }
        }
      }
    }
  }
}

.about {
  background: $lightbg;
  padding: 2rem 0 3.5rem;
  @include media-breakpoint-down(sm) {
    padding: 0 1rem 1.5rem;
  }
  .info {
    h1 {
      color: $primaryColor;
      font-size: 34px;
      font-weight: bold;
    }
    p {
      font-size: 15px;
      color: #B5B5B5;
      line-height: 1.7;
    }
  }
  @media (max-width: 480px) {
    .info {
      h1 {
        font-size: 25px;
      }
      p {
        font-size: 12px;
      }
    }
  }
  .about-right {
    display: none;
    .about-image {
      background: url("../images/working.png")no-repeat;
      background-size: 100%;
      height: 391px;
      position: absolute;
      left: -15px;
    }
  }
  @media (max-width: 1200px) {
    .about-left {
      max-width: 100% ;
      flex: 100% ;
    }
  }
  @media (min-width: 1200px) {
    .about-right {
      display: block;
      .about-image {
        width: 500px;
      }
    }
  }
  @media (min-width: 992px) and (max-width: 1200px) {
    .about-right {
      display: block;
      .about-image {
        width: 100%;
      }
    }
  }
}

.title {
  h2 {
    color: $heading;
    font-size: 38px;
    font-weight: bold;
  }
  span {
    color: $heading-sm;
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 34px;
    }
    span {
      font-size: 15px;
    }
  }
}

.bigTitle {
  background: rgba(249, 41, 66, .94);
  position: relative;
  &::before {
    content: '';
    background-image: url('../images/title.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
    background-position: center;
  }
  h2 {
    font-size: 38px;
    font-weight: bold;
    text-shadow: 0 8px 5px rgba(0,0,0,0.03);
    letter-spacing: 1px;
  }
  span {
    color: $heading-sm;
  }
  
  @media (max-width: 480px) {
    h2 {
      font-size: 34px;
    }
    span {
      font-size: 15px;
    }
  }
}

.container-rounded {
  margin-top: -40px;
  &.shadow {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.06) !important;
  }
  @media (max-width: 576px) {
    width: calc(100% - 2rem);
    padding: 0 !important;
  }
}

.color-primary {
  color: $primaryColor !important;
}

.card {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.06);
}

.card-list span {
  text-align: center;
  line-height: 1.8;
  font-size: .95rem;
  color: #283246;
}

.card-title {
  color: #283246;
  font-size: 17px;
}

.codingbg {
  position: relative;
  &::before {
    content: '';
    background: url("../images/coding.png")no-repeat;
    background-size: 100%;
    position: absolute;
    width: 100%;
    height: 175px;
    top: -120px;
    right: 20px;
    z-index: -1;
  }
  &::after {
    content: '';
    background: $primaryColor;
    position: absolute;
  }
}

.specializedIn {
  &::after {
    content: '';
    background: #F92942;
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: -2;
    height: 40%;
  }
  .card {
    border-radius: 0.5rem !important;
    transition: all 0.5s;
    &:hover {
      box-shadow: 0 0 1.5rem rgba(0, 0, 0, 0.12);
    }
    .card-title {
      text-align: center;
    }
  }

  @include media-breakpoint-down(sm) {
    .codingbg {
      background: #f92942;
      padding: 3rem 2rem 1rem;
      border-radius: 0.5rem;
      width: calc(100% - 4rem);
    }
    .card {
      margin-left: 0 !important;
      margin-right: 0 !important;
    }
    &::after {
      content: unset;
    }
  }
  
  @media (min-width: 576px) and (max-width: 991.98px) {
    &::after {
      bottom: 20%;
    }
    .card-deck {
      .card {
        flex: unset;
      }
    }
  }
  @media (max-width: 576px) {
    .codingbg {
      padding: 2rem 1rem 0.5rem;
    }
  }
  @media (max-width: 480px) {
    .codingbg {
      width: 100%;
      padding: 1rem 0 0;
      border-radius: 0;
    }
  }
}

.active {
  color: $primaryColor !important;
}

.portfolio {
  .card {
    flex: unset;
    margin: 0;
    transition: all 0.5s;
    .overlay {
      position: relative;
      &::before {
        opacity: 0;
        content: "\f30b";
        font-family: "Font Awesome 5 Free";
        font-weight: 900;
        color: #FFF;
        position: absolute;
        z-index: 1;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 38px;
        transition: all 0.5s;
      }
      &::after {
        opacity: 0;
        content: '';
        background: $primaryColor;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        transition: all 0.5s;
      }
    }
    .card-image {
      .card-img-top {
        object-fit: cover;
        height: 100%;
      }
    }
    @include media-breakpoint-up(xl) {
      .card-image {
        height: 262px;
      }
    }
    @include media-breakpoint-only(lg) {
      .card-image {
        height: 218px;
      }
    }
    @include media-breakpoint-only(md) {
      .card-image {
        height: 247px;
      }
    }
    .card-title {
      padding: 1.1rem;
      h6 {
        font-size: .9rem;
        transition: all 0.5s;
        color: #090909;
      }
      span {
        font-size: .8rem;
        color: #8A8A8A;
      }
    }
    &:hover {
      .card-title {
        h6 {
          color: $primaryColor;
        }
      }
      ::before {
        opacity: 1;
        transition: all 0.5s;
        transform: translateX(calc(50% - 19px));
      }
      ::after {
        opacity: 0.9;
      }
    }
  }
}

.btn {
  background-color: $primaryColor;
  color: #FFF;
  padding: 10px 15px;
  font-size: 15px;
  border-radius: 4px;
  &:hover {
    color: #FFF;
  }
}

.skills {
  .card {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.08);
    border-radius: 0.5rem !important;
    margin-bottom: 0;
    .card-title {
      h6 {
        color: #555555;
        font-size: 13px;
      }
      span {
        color: #afafaf;
        font-size: 13px;
      }
    }
    .percent {
      span {
        color: #afafaf;
        font-size: 13px;
      }
    }
  }

  @import 'percentage';
}

.grow {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow:hover,
.grow:focus {
  transform: scale(1.05);
}

.grow:active {
  transform: scale(.90);
}

.grow-sm {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: transform 0.25s ease-out;
}

.grow-sm:hover,
.grow-sm:focus {
  transform: scale(1.03);
}

.grow-sm:active {
  transform: scale(.90);
}

.carousel-indicators {
  bottom: -20px;
}

.carousel-indicators li, .carousel-indicators li.active {
	width: 14px;
  height: 14px;
	border-radius: 50%;
	margin: 0 6px;
  background: #e2e2e2;
  border: none;
}

.carousel-indicators li.active {
  background: $primaryColor;
}

.testimonials {
  .card {
    box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.09);
    border-radius: 0.5rem !important;
    .card-header {
      background: #F5F6FA;
      span {
        font-weight: bold;
        font-size: 15px;
        color: #1C3A55;
      }
      .star-rating i {
        color: #F6C419;
        font-size: 14px;
      }
    }
    .card-text {
      color: #868c9a;
      font-size: 14px;
      line-height: 1.6;
    }
  }
}


.services-item {
  background-color: #FFF;
  border-bottom: 5px solid $primaryColor;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.06);
  padding: 1.8rem;
  margin-bottom: 30px;
  i {
    font-size: 26px;
    color: $primaryColor;
  }
  h4 {
    color: #3a566e;
    letter-spacing: 0.7px;
    font-weight: bold;
  }
  p {
    font-size: 14px;
    color: #698196;
    letter-spacing: 0.9px;
    line-height: 20px;
  }
}


.sticky-footer{
  flex-shrink: 0;
  background: $primaryColor;
  padding: 2.5rem;
  .logo {
    filter: brightness(100) grayscale(100);
  }
  .social {
    ul {
      li a {
        color: #FFF;
        border: 2px solid rgba(255, 255, 255, .3);
        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        &:hover {
          background: #FFF;
          color: $primaryColor;
        }
      }
    }
  }
  .copyright span {
    color: #FFF;
    font-size: 14px;
  }
  @include media-breakpoint-down(sm) {
    padding: 1.5rem 0 2.5rem;
    .social {
      justify-content: flex-end !important;
      padding: 0;
    }
    .logo {
      margin-top: 1rem;
      padding: 0;
    }
  }
  @media (max-width: 460px) {
    padding: 1.5rem 0 2.5rem;
    .logo, .social, .copyright {
      max-width: 100% !important;
      flex: 100% !important;
      justify-content: center !important;
      margin: .75rem 0;
    }
    .social {
      padding: 0;
    }
  }
  @media (min-width: 460px) and (max-width: 576px) {
    padding: 1.5rem 1rem 2.5rem;
  }
}


.project .item {
  padding: 2.5rem 2.5rem 1.5rem 2.5rem;
  overflow: hidden;
  background: #fff;
  box-shadow: 0 2px 25px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
  border-bottom: 5px solid $primaryColor;
}

.project .item .icon i {
  font-size: 26px;
  color: $primaryColor;
}

.project .item .content .text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 1px;
  color: #647E95;
}

.project .item .content .text p {
  line-height: 20px;
}

.project .item .content .screenshots .screenshot {
  display: block;
  overflow: hidden;
  border-radius: 4px;
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  margin-bottom: 30px;
}

.project_inner {
  display: block;
  width: 500px;
  height: 375px;
  border-radius: 0 0 3px 3px;
  position: relative;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.06);
}
@media (max-width: 992px) {
  .project_inner {
    width: 300px;
    height: 225px;
  }
  .project .item .content .text p {
    line-height: 22px;
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .item {
    flex-wrap: wrap;
  }
  .project_inner {
    width: 478px;
    height: 359px;
  }
}

@media (max-width: 550px) {
  .project_inner {
    width: 100%;
    height: 300px;
  }
}

@media (max-width: 550px) {
  .project_inner {
    height: unset;
  }
}

.bar {
  position: absolute;
  width: 100%;
  height: 22px;
  top: -22px;
  border-radius: 5px 5px 0 0;
  background: #f5f5f5 url("../images/buttons.png") left center no-repeat;
}


.projectimage {
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: flex-start;
  img {
    width: 100%;
    min-height: 100%;
    transition: all 8s ease-out 0s;
  }
}

@media (min-width: 1200px) {
  .project_inner:hover {
    .projectimage {
      img {
        transform: translateY(calc(-100% + 375px));
      }
    }
  }
}

.info-item {
  padding: 1rem;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.07);
  font-size: 13px;
  i {
    color: $primaryColor;
    font-size: 20px;
  }
  .item-title {
    margin-top: 2px;
    color: #547088;
    text-transform: uppercase;
    font-size: 14px;
  }
}


.screenshot img {
  width: 100%;
}

.contact-item {
  i {
    color: #FFF;
    font-size: 32px;
  }
  h5 {
    color: #FFF;
    font-size: 14px;
  }
  a {
    font-size: 13px;
    color: #FFF;
    font-weight: bold;
    letter-spacing: 1px;
  }
  &.email {
    h5 {
      color: #cfcfcf;
    }
    i, a {
      color: #152a56;
      letter-spacing: unset;
    }
    border: 1px solid #f0f0f0;
  }
  &.facebook {
    h5 {
      color: #dee4f2;
    }
    background: linear-gradient(to right, #3b5998, #2b4170);
  }
  &.instagram {
    h5 {
      color: #fff2ef;
    }
    background: linear-gradient(to right, #f2709c, #ff9472);
  }
  &.dribbble {
    h5 {
      color: #ffe0ec;
    }
    background: linear-gradient(to right, #ea4c89, #c93764);
  }
}


// @import 'animations';