.percentage {
  height: 14px;
  &.photoshop {
    background: #E5EFF4;
  }
  &.html {
    background: #FFEDE5;
  }
  &.css {
    background: #E6F9FE;
  }
  &.sass {
    background: #FFF1F8;
  }
  &.bootstrap {
    background: #F4EEFF;
  }
  &.javascript {
    background: #FFFAD3;
  }
  &.illustrator {
    background: #FFEDE5;
  }
  &.figma {
    background: #FFE8E6;
  }
  &.reactjs {
    background: #E9FCFF;
  }
  &.nodejs {
    background: #EEFFE8;
  }
  &.postgresql {
    background: #EDF7FF;
  }
  &.wordpress {
    background: #F1F9FC;
  }
  .level {
    height: 100%;
    &.photoshop {
      width: 90%;
      background: #00334A;
    }
    &.html {
      width: 90%;
      background: #FE7C0A;
    }
    &.css {
      width: 90%;
      background: #07BDED;
    }
    &.sass {
      width: 70%;
      background: #CB6698;
    }
    &.bootstrap {
      width: 65%;
      background: #693CB6;
    }
    &.javascript {
      width: 60%;
      background: #F6DF25;
    }
    &.illustrator {
      width: 60%;
      background: #FE7C0A;
    }
    &.figma {
      width: 50%;
      background: #FE7162;
    }
    &.reactjs {
      width: 50%;
      background: #05DAFB;
    }
    &.nodejs {
      width: 50%;
      background: #74BA5C;
    }
    &.postgresql {
      width: 40%;
      background: #32668F;
    }
    &.wordpress {
      width: 30%;
      background: #0687BC;
    }
  }
}